{% extends "template.html" %}
{% block content %}
    <h2>Welcome to the Flask Blog</h2>
    <p>This is the main page.</p>
    <p><a href="logout">Logout</a></p>
    <form action="{{ url_for('add') }}" method="post" class="add">
        <label><strong>Title:</strong></label>
        <input type="text" name="title">
        <p>
            <label><strong>Post:</strong></label><br>
            <textarea name="post" cols="40" rows="8"></textarea>
        </p>
        <input type="submit" class="button" value="Save">
    </form>
    <br>
    <br>
    <h3>Posts:</h3>
    {% for p in posts %}
        <strong>Title: </strong> {{p.title}} <br>
        <strong>Post: </strong> {{p.post}} <br>
        <br>
    {% endfor %}
{% endblock %}